<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>トップ</title>
</head>
<body>
    <div th:text="${test}"></div>
    <a href="/user/regist">register</a>
</body>
</html>